.wrapper{
    width: 100%;
    display: flex;
    padding: 0;

}

.outerwrapper{
    margin: 0;
    display: flex;
    width: 100%;
}

.innerwrapper{
    display: flex;
    flex-direction: column;
    margin : 0 150px;
        gap : 50px;

}

.topdiv{
    margin : 0 66.16px;
    
    gap : 20px;
}

.headingdiv{
    margin : 0;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #120A2C;

}


.gradientHeading{
 
    /* font-size: 40px;
    font-family: Arial,Helvetica, sans-serif; */
    background: linear-gradient(90.43deg, #FE6403 48.69%, #F00CB1 80.08%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
  }

.textdiv{
    margin : 0 120.84px;
    display: flex;
    flex-wrap: wrap;
    height: 76px;
    width: 766px;

    justify-content: center;
    align-items: center;

    color :#4D4469;
 
}

.middlediv{
    display : flex;
    justify-content: center;
    align-items: center;
    
    
    background-color:  #120A2C;
    width: 100%;
    border-radius: 30.54px;
}

.boxdiv{
   display : flex;
   flex-direction: column;
   gap : 10.18px;
   
   
}



.gradientHeadingnumber{
 
    /* font-size: 40px;
    font-family: Arial,Helvetica, sans-serif; */
    background: linear-gradient(90.43deg, #FE6403 48.69%, #F00CB1 80.08%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 68px;
    
  }

.middledivText{
    color :  #FFFFFF;
    font-size: 22px;

}

.lastdiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightbutton{
    width: 173.01px;
    gap: 4.5px;
    border-radius: 5px ;
    background: #120A2C;
    padding : 12px;
    color: #FFFFFF;
}